    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/propos" routerLinkActive="active">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
        </nav>

        <h3 class="text-muted">Choix ASTRE IPS</h3>
      </div>
   </div>
  

<div class="container">
  
  <div class=" post col-md-6">
    <h6>Plus le score de l'indicateur est grand plus cet indicateur fait penser à un indicateur de profil IPS et l'inverse pour un profil ASTRE</h6>
  </div>
  <div class="success">
    <label>
      <h6>Ensim'Elec:</h6>
      <input type="number" value="{{SElec}}" (change)="onChangedSElec($event)" />
    </label>
    <br/>
    <label>
      <h6>Jensim:</h6>
      <input type="number" value="{{SJensim}}" (change)="onChangedSJensim($event)" />
    </label>
    <br/>
    <label>
      <h6>Ensim is running:</h6>
      <input type="number" value="{{SRunning}}" (change)="onChangedSRunning($event)" />
    </label>
    <br/>
    <label>
    <h6>Java, python, php, ou Javascript:</h6>
      <input type="number" value="{{SLangWeb}}" (change)="onChangedSLangWeb($event)" />
    </label>
    <br/>
    <label>
    <h6>C, C++ ou Assembleur:</h6>
      <input type="number" value="{{SlangMats}}" (change)="onChangedSlangMats($event)" />
    </label>
    <br/>
    <label>
    <br/>
    <h6>Utilisation de Paint ou Photoshop:</h6>
    <br/>
    <ul>
    <li>Régulièrement:
    <input type="number" value="{{SPaintPhotoshop_Regu}}" (change)="onChangedSPaintPhotoshop_Regu($event)" />
    </li>
    <br/>
    <li>
    Un peu:
    <input type="number" value="{{SPaintPhotoshop_Unpeu}}" (change)="onChangedSPaintPhotoshop_Unpeu($event)" />
    </li>
    <br/>
    <li>
    Jamais:
    <input type="number" value="{{SPaintPhotoshop_Jamais}}" (change)="onChangedSPaintPhotoshop_Jamais($event)" />
    </li>
  </ul>
    </label>
    <br/>
    <br/>
    <label>
      <h6>Utilisation de Linux:</h6>
      <br/>
      <ul>
      <li>Régulièrement:
      <input type="number" value="{{SLinux_Regu}}" (change)="onChangedSLinux_Regu($event)" />
      </li>
      <br/>
      <li>
      Un peu:
      <input type="number" value="{{SLinux_Unpeu}}" (change)="onChangedSLinux_Unpeu($event)" />
      </li>
      <br/>
      <li>
      Jamais:
      <input type="number" value="{{SLinux_Jamais}}" (change)="onChangedSLinux_Jamais($event)" />
      </li>
    </ul>
    </label>
      <br/>
      <br/>
    <label>
        <h6>Utilisation de carte Arduino:</h6>
        <br/>
        <ul>
        <li>Régulièrement:
        <input type="number" value="{{SArduino_Regu}}" (change)="onChangedSArduino_Regu($event)" />
        </li>
        <br/>
        <li>
        Un peu:
        <input type="number" value="{{SArduino_Unpeu}}" (change)="onChangedSArduino_Unpeu($event)" />
        </li>
        <br/>
        <li>
        Jamais:
        <input type="number" value="{{SArduino_Jamais}}" (change)="onChangedSArduino_Jamais($event)" />
        </li>
      </ul>
    </label>
        <br/>
        <br/>
    <label>
          <h6>Réalisation d'un logiciel sur pc:</h6>
          <br/>
          <ul>
          <li>Régulièrement:
          <input type="number" value="{{SLogicielpc_Regu}}" (change)="onChangedSLogicielpc_Regu($event)" />
          </li>
          <br/>
          <li>
          Un peu:
          <input type="number" value="{{SLogicielpc_Unpeu}}" (change)="onChangedSSLogicielpc_Unpeu($event)" />
          </li>
          <br/>
          <li>
          Jamais:
          <input type="number" value="{{SLogicielpc_Jamais}}" (change)="onChangedSLogicielpc_Jamais($event)" />
          </li>
        </ul>
    </label>
          <br/>
          <br/>
    <label>
            <h6>Réalisation de logos:</h6>
            <br/>
            <ul>
            <li>Régulièrement:
            <input type="number" value="{{SLogos_Regu}}" (change)="onChangedSLogos_Regu($event)" />
            </li>
            <br/>
            <li>
            Un peu:
            <input type="number" value="{{SLogos_Unpeu}}" (change)="onChangedSLogos_Unpeu($event)" />
            </li>
            <br/>
            <li>
            Jamais:
            <input type="number" value="{{SLogos_Jamais}}" (change)="onChangedSLogos_Jamais($event)" />
            </li>
          </ul>
    </label>
            <br/>
            <br/>
    <label>
              <h6>Réalisation de robots:</h6>
                <br/>
                <ul>
                <li>Régulièrement:
                <input type="number" value="{{SRobots_Regu}}" (change)="onChangedSRobots_Regu($event)" />
                </li>
                <br/>
                <li>
                Un peu:
                <input type="number" value="{{SRobots_Unpeu}}" (change)="onChangedSRobots_Unpeu($event)" />
                </li>
                <br/>
                <li>
                Jamais:
                <input type="number" value="{{SRobots_Jamais}}" (change)="onChangedSRobots_Jamais($event)" />
                </li>
              </ul>
    </label>
    <br/>
    <br/>
    <button (click)="Prediction()">Prediction</button>
    <br/>
    <br/>
</div>
</div>



