    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/propos" routerLinkActive="active">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
        </nav>

        <h3 class="text-muted">Choix ASTRE IPS</h3>
      </div>
   </div>
  

<div class="container">
  
  <div class=" post col-md-6">
    <h6>Plus le score de l'indicateur est grand plus cet indicateur fait penser à un indicateur de profil IPS et l'inverse pour un profil ASTRE</h6>
  </div>
  <div class="success">
    <label>
      <h6>Ensim'Elec:</h6>
      <input type="number" value="-10" (change)="onTitleChanged($event)" />
    </label>
    <br/>
    <label>
      <h6>Jensim:</h6>
      <input type="number" value="10" (change)="onTitleChanged($event)" />
    </label>
    <br/>
    <label>
      <h6>Ensim is running:</h6>
      <input type="number" value="-5" (change)="onTitleChanged($event)" />
    </label>
    <br/>
    <label>
    <h6>Java, python, php, ou Javascript:</h6>
      <input type="number" value="12" (change)="onTitleChanged($event)" />
    </label>
    <br/>
    <label>
    <h6>C, C++ ou Assembleur:</h6>
      <input type="number" value="-12" (change)="onTitleChanged($event)" />
    </label>
    <br/>
    <label>
    <br/>
    <h6>Utilisation de Paint ou Photoshop:</h6>
    <br/>
    <ul>
    <li>Régulièrement:
    <input type="number" value="16" (change)="onTitleChanged($event)" />
    </li>
    <br/>
    <li>
    Un peu:
    <input type="number" value="8" (change)="onTitleChanged($event)" />
    </li>
    <br/>
    <li>
    Jamais:
    <input type="number" value="-15" (change)="onTitleChanged($event)" />
    </li>
  </ul>
    </label>
    <br/>
    <br/>
    <label>
      <h6>Utilisation de Linux:</h6>
      <br/>
      <ul>
      <li>Régulièrement:
      <input type="number" value="-12" (change)="onTitleChanged($event)" />
      </li>
      <br/>
      <li>
      Un peu:
      <input type="number" value="-5" (change)="onTitleChanged($event)" />
      </li>
      <br/>
      <li>
      Jamais:
      <input type="number" value="11" (change)="onTitleChanged($event)" />
      </li>
    </ul>
    </label>
      <br/>
      <br/>
    <label>
        <h6>Utilisation de carte Arduino:</h6>
        <br/>
        <ul>
        <li>Régulièrement:
        <input type="number" value="-15" (change)="onTitleChanged($event)" />
        </li>
        <br/>
        <li>
        Un peu:
        <input type="number" value="-8" (change)="onTitleChanged($event)" />
        </li>
        <br/>
        <li>
        Jamais:
        <input type="number" value="12" (change)="onTitleChanged($event)" />
        </li>
      </ul>
    </label>
        <br/>
        <br/>
    <label>
          <h6>Réalisation d'un logiciel sur pc:</h6>
          <br/>
          <ul>
          <li>Régulièrement:
          <input type="number" value="16" (change)="onTitleChanged($event)" />
          </li>
          <br/>
          <li>
          Un peu:
          <input type="number" value="8" (change)="onTitleChanged($event)" />
          </li>
          <br/>
          <li>
          Jamais:
          <input type="number" value="-12" (change)="onTitleChanged($event)" />
          </li>
        </ul>
    </label>
          <br/>
          <br/>
    <label>
            <h6>Réalisation de logos:</h6>
            <br/>
            <ul>
            <li>Régulièrement:
            <input type="number" value="16" (change)="onTitleChanged($event)" />
            </li>
            <br/>
            <li>
            Un peu:
            <input type="number" value="7" (change)="onTitleChanged($event)" />
            </li>
            <br/>
            <li>
            Jamais:
            <input type="number" value="-15" (change)="onTitleChanged($event)" />
            </li>
          </ul>
    </label>
            <br/>
            <br/>
    <label>
              <h6>Réalisation de robots:</h6>
                <br/>
                <ul>
                <li>Régulièrement:
                <input type="number" value="-16" (change)="onTitleChanged($event)" />
                </li>
                <br/>
                <li>
                Un peu:
                <input type="number" value="-8" (change)="onTitleChanged($event)" />
                </li>
                <br/>
                <li>
                Jamais:
                <input type="number" value="12" (change)="onTitleChanged($event)" />
                </li>
              </ul>
    </label>
    <br/>
    <br/>
    <button (click)="newBook()">Prediction</button>
    <br/>
    <br/>
</div>
</div>



